@tailwind base;
@tailwind components;
@tailwind utilities;

html body {
    background-color: rgb(51 65 85);
}

/* @font-face {
	font-family: "Inconsolata";
	src: url("./fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf");
} */

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 10px 10px #1e2124;
    border: solid 3px transparent;
	border-radius: 10px;
}

canvas {
	border-radius: 12px;
	/* height: 100vh; */
	display: flex;
	align-items: center;
	justify-content: center;
}
